<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/">MyApp</a>
  
      <div>
        <a class="btn btn-outline-light me-2" href="/login">Login</a>
        <a class="btn btn-warning" href="/register">Register</a>
      </div>
    </div>
  </nav>
  